body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif

a
  color: #00B7FF

.home
    padding: 50px;
    background-color:#005E9B;
    color:#ffffff;

.home .img-responsive
	 margin: 0 auto;

.quizgame-nav
	background-color: #005e9b;
	border-color: #005e9b;
	color:#ffffff;

.navbar-brand 
	padding: 3px 3px !important;


